.cover__title {
  position: relative;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 55%;
  }
 }

 @media screen and (max-width: 768px) {
  .cover__title {
    width: 71%;
  }
 }

@media screen and (max-width: 660px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
 }
