.place {
  display: flex;
  flex-wrap: wrap;
  max-width: 984px;
  width: 91%;
  margin: auto;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

 @media screen and (max-width: 768px) {
  .place {
    width: 94%;
    padding-bottom: 72px;
  }
 }

 @media screen and (max-width: 320px) {
  .place {
    width: 100%;
    flex-direction: column;
    padding-bottom: 50px;
  }
 }
